<% provide(:title, "Sign Up") %>
<div class="well span4">
<h2>Sign Up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="well">
  <div class="form-inputs">
	<%= f.input :username, :required => true, :autofocus => true, :placeholder => "jadams" %>
    <%= f.input :email, :required => true, :placeholder => "jadams@domain.com" %>
    <% if f.object.password_required? %>
    	<%= f.input :password, :required => true, :placeholder => "Create a password" %>
    <% end %>
  </div>
    <%= f.button :submit, "Sign Up", :class => 'btn-large btn-success btn-block' %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>

