Share Now
<%= render "startup_share" %></br>
<% if signed_in? %>
<%= link_to t('.back', :default => t("helpers.links.back")),
	              :back, :class => 'btn'  %>
<% if @startup.user == current_user || current_user.admin? %>
<a href="#updateModal" role="button" class="btn btn-inverse" data-toggle="modal">New Update</a>
<%= link_to "HashGild, Help!", "#", :class => "btn btn-warning" %>
<%= link_to "Edit Startup", edit_startup_path(@startup), :class => 'btn' %>
<%= link_to "Archive Startup", startup_path(@startup),
		      			  :method => 'delete',
		                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              	  :class => 'btn btn-danger' %>
<% end %>
<% end %>