<% provide(:title, "#{ @startup.name }")%>
<%- model_class = Startup -%>
<div class="span3">
 <%= render 'sidebar' %>
</div>
<div class="span9">
<div class="page-header">
  <div class="pull-right"><%= render "invitations/invitation_form" %></br>
  </div>
  <h3><%= @startup.name %></h3>
  <strong><%= pluralize(@startup.invitation_requests.count, 'Invitation Request')%></strong></br>
  <div class="muted">
  <%= link_to @startup.user.fullname, "#" %></br>
  <%= @startup.website %></br>
</div>
</div>
<%= @startup.pitch %>
  <div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn'  %>
<% if @startup.user == current_user || current_user.admin? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_startup_path(@startup), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              startup_path(@startup),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
 <%= render "invitations/bulk_invite" %>
 <% end %>
</div>
</div>
