<span class="hidden-phone hidden-tablet visible-desktop">
<%= image_tag(@user.gravatar_url) %></a></span></br>
<% if @user.fullname.present? %>
<b><div id="prof_fullname">
	<%= @user.fullname %></div></b>
<% end %>
<div id="prof_username" class="muted">
	<%= @user.username %></div>
<hr id="prof_hr">
<% if @user.organization.present? %>
	<%= @user.organization %></br>
<% end %>
<% if @user.location.present? %>
	<%= @user.location %></br>
<% end %>
<% if @user.website.present? %>
	<%= link_to nil, @user.website, target: '_blank' %></br>
<% end %>
<% if @user.public_email.present? %>
	<%= @user.public_email %>
<% end %>