<li id="<%= update_item.id %>">
   <span class=""><%= link_to update_item.startup.name, startup_path(update_item.startup) %></span>
  <span class="content"><%= update_item.content %></span>
  <div class="timestamp muted">
  Posted <%= time_ago_in_words(update_item.created_at) %> ago by <%= link_to update_item.startup.user.username, '#' %>
  </span>
  <% if signed_in? %>
  <% if current_user == update_item.startup.user || current_user.admin? %>
  | <%= link_to "Delete", update_item, method: :delete,
									   data: { confirm: "Are You Sure" },
									   title: update_item.content
								 		%>
  <% end %>
  <% end %>
</li>