<% provide(:title, "Sign In") %>
<div class="form-signin">
<h2>Sign In</h2>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <%= f.error_notification %>
    <%= f.input :email, :required => false, :autofocus => true, :placeholder => "Your email" %>
    <%= f.input :password, :required => false, :placeholder => "Your password" %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "Sign In", :class => 'btn-large btn-success btn-block' %>
<% end %>
<%= render "devise/shared/links" %>
</div>
